<ret> create()      /* Allocate memory and set initial values, returns something */
      destroy(...)  /* Free memory */
      generate(...) /* Create a special version of something */

      paint(...)  /* Draw to a bitmap */
      update(...) /* Update something */

      add(...)    /* Add one of multiple things to something */
      change(...) /* Change something, has args */
<ret> grab        /* Getter, no args, returns something */
<ret> find(...)   /* Find a specific something, has args, returns something */
<ret> is(...)     /* Returns a FLAG */

<ret> init(...) /* Initialize a system */
      stop(...) /* Stop a system */

enum is array index
. no type
. MAX_* exists

enum is a data type
. typed
. MAX_* does not exist

anim = animation
idx = index
max = maximum
num = number

hot = currently used
paint = draw
